<div class="row ml-0">
  <%= form_with model: Comment.new do |form| %>
    <h3 class="pull-left">New Comment</h3>
    <div class="form-group">
      <%= form.text_area :text, class: "form-control", placeholder:"Your message" %>
    </div>
    <div class="form-group">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>
    <div class="form-group">
      <%= form.hidden_field :event_id, value: event_id %>
    </div>
    <div class="form-group mt-2">
      <%= form.submit "Add comment", class: ["btn", "btn-primary"] %>
    </div>
  <% end %>
</div>