<p id="notice"><%= notice %></p>
<div class="card img-fluid rounded bg-white text-white">
  <% if @user.flyer.attached? %>
    <%= image_tag(@user.flyer, width: "100%", height: "400px", data: {target: "#myModal", toggle: "modal", class: "img-fluid"}) %>
  <% else%>
    <%= image_tag("thumbnail.svg", width: "100%", height: "400px", data: {target: "#myModal", toggle: "modal", class: "img-fluid"}) %>
  <% end %>
  <div class="card-img-overlay p-4 p-md-5">
    <h4 class="display-4 fonh4italic text-white"><%= @user.name %></h4>
  </div>
</div>
<br>
<br>
<br>
<div class ="row jumbotron bg-light">
  <div class = "col">
    <h5><%= @user.location %></h5>
    <h5>Last access: <%= User.find(params[:id]).current_sign_in_at %></h5>
    <%= @user.biography %>
  </div>
  <div class="col">
    <% if user_signed_in?%>
      <% if @user.user.id == current_user.id %>
        <div align="right">
          <%= link_to "Edit profile", edit_user_path, class: ["btn", "btn-primary"] %>
        </div>
      <%end %>
    <%end %>
  </div>
</div>
<div class ="row jumbotron bg-light">
  <% if user_signed_in? %>
    <h6>Events</h6>

    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Location</th>
        <th scope="col">Role</th>
      </tr>
      </thead>
      <tbody>
      <% @invite.uniq.each do |event| %>
        <tr>
          <th scope="row"><%= link_to event.name, events_path(event.id) %></th>
          <th scope="row"><%= event.date %></th>
          <th scope="row"><%= event.location %></th>
          <% if event.user_id == current_user.id %>
            <th scope="row">
              <p style="color:#21bf40">Owner</p>
            </th>
          <% else %>
            <th scope="row">Guest</th>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<div class ="row jumbotron bg-light">
  <h6>Gallery</h6>

  <div class="gallery" id="gallery">
    <% @user.profile_images.each do |image| %>
      <div class="mb-3 pics animation all 2">
        <%= image_tag(image.image, class: "img-fluid")%>
      </div>

    <% end %>
  </div>
</div>