<p id="notice"><%= notice %></p>

<h1> <%=@user.name%> </h1>
<h5><%=@user.location%></h5>

<%=@user.biography%>

<div align="right">
  <%= link_to "Edit profile", edit_user_path, class: ["btn", "btn-primary"] %>
</div>

