<p id="notice"><%= notice %></p>

<h1><%=@event.name%></h1>
<body>
<div>
  <aside>
    Created by
    <%=@event.user.username%>
  </aside>
  <main>
  </main>
</div>
  public:
<%=@event.public%>
</body>

<h3>Guests</h3>

<table>
  <thead>
  <tr>
  </tr>
  </thead>
  <tbody>
  <% @event.users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Back', events_path %>
