<p id="notice"><%= notice %></p>

<h1><%=@event.name%></h1>

<div>
  <aside>
    Created by
    <%=@event.user.username%>
  </aside>
  <main>
  </main>
</div>

<% if @event.flyer.attached? %>
  <%= image_tag(@event.flyer, width: "400px", data: { target: "#myModal", toggle: "modal"}) %>
<% end %>

<br>
<br>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <% if @event.flyer.attached? %>
        <%= image_tag(@event.flyer, width: "800px") %>
      <% end %>
    </div>
  </div>
</div>

<p><strong>Guests</strong></p>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Role</th>
  </tr>
  </thead>
  <tbody>
  <% @event.users.each do |user| %>
    <tr>
      <th scope="row"><%= link_to user.username, user_path(user.id) %></th>
      <% if @event.user == user%>
        <th scope="row">
          <p style="color:#21bf40">Owner</p>
        </th>
      <% else %>
        <th scope="row"> Guest </th>
      <%end %>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<p><strong>Comments:</strong></p>
<div>
  <div class="row ml-0">
    <%= form_with model: @comment, local: true do |form| %>
      <div class="form-group">
        <%= form.label :text %>
        <%= form.text_area :text, class: "form-control" %>
      </div>
      <div class="form-group mt-2">
        <%= link_to "Add comment", events_path, class: ["btn", "btn-outline-dark btn-ms"] %>
      </div>
    <% end %>
  </div>
</div>
<table class="table">
  <thead class="thead-light">
  <tr>
  </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td>  <%= link_to comment.user.username, user_path(comment.user.id) %>:
        <br> <%= comment.text %>
      </td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<div align="right">
  <%= link_to "Back", events_path, class: ["btn", "btn-outline-dark"] %>
</div>
