<p id="notice"><%= notice %></p>
<div align="right">
  <%= link_to "Delete", {controller: "organizations", action: "destroy", organization_id: @organizations.id}, method: :delete, class: ["btn", "btn-outline-danger btn-sm"] %>
</div>
<h2><%=@organizations.name%></h2>
<br>
<% if @organizations.flyer.attached? %>
  <%= image_tag(@organizations.flyer, width: "400px", data: { target: "#myModal", toggle: "modal"}) %>
<% end %>

<br>
<br>
<br>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <% if @organizations.flyer.attached? %>
        <%= image_tag(@organizations.flyer, width: "800px") %>
      <% end %>
    </div>
  </div>
</div>

<p><strong>Users:</strong></p>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <th scope="row"><%= link_to user.username, user_path(user.id) %></th>
      <th scope="row"><%= user.email %></th>
    </tr>
  <% end %>
  </tbody>
</table>

<table class="table">
  <p><strong>Events:</strong></p>
  <thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Owner</th>
    <th scope="col">public</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <th scope="row"><%= link_to  event.name, event_path(event.id) %></th>
      <th scope="row"><%= event.user.username %></th>
      <th scope="row"><%= event.public %></th>
    </tr>
  <% end %>
  </tbody>
</table>
<div align="right">
  <%= link_to "Back", organizations_path, class: ["btn", "btn-outline-dark"] %>
</div>