<!DOCTYPE html>
<html>
  <head>
    <title>CourseProjectMayerTraverso</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <h1><%= link_to "Brillare", root_path %></h1>
    <nav>
      <ul id="navbar">
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Organizations", organizations_path%></li>
        <li><%= link_to "Profile", users_path %></li>
        <li><%= link_to "Messages"%></li>
      </ul>
    </nav>
    <div id="container">
      <aside id="customer_info">

      </aside>
      <main>
        <%= yield %>
      </main>
    </div>
    <footer>
      <h4>Contact Information</h4>
      <p>+56 9 1234 5678</p>
    </footer>
  </body>
</html>
